

@keyframes float {
  0%{transform: translateY(0px);}
  50%{transform: translateY(-15px);}
  100%{transform: translateY(0px);}
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);

  }
  100%{
      opacity: 1;
    transform: translateY(0);
  }
}